@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap");

.self-intro-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    margin-left: 9%;
    margin-top: 4%;
    margin-bottom: 5%;
    letter-spacing: .15em; /* Adjust as needed */
    padding-left: 1%;
    border-left: 20px solid transparent;
    border-image: url('../assets/border-image.png') 20 round;
    padding: 20px;
    animation: fadeIn 2s ease-in;

  }

.before-name {
  font-size: 2rem;
  margin-top: 1%;
  margin-bottom: 1%;
}

.name {
  background-image: linear-gradient(90deg, rgba(213, 117, 255, 1) 0%, rgba(103, 58, 183, 1) 26%, rgba(0, 0, 255, 1) 53%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin-top: 0.5%;
  margin-bottom: 1%;
  font-weight: bold;
}

.description-animation {
  display: flex;
  font-size: 2rem;
  margin-bottom: 0;
  color: white;
  font-family: cursive;
  animation: changeHeading 5s linear infinite;
}

.description-heading {
  margin-top: 0.25%;
  margin-bottom: 0;
}

.contact-icons {
  display: flex; 
  justify-content: flex-start;
  flex-direction: row;
  text-decoration: none;
  margin-top: 1%;
}

.contact-icons a{
  text-decoration: none;
  color: white;
}

.intro-icon-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}

.intro-icon-list li {
  margin-right: 20%;
  color: white;
}
  
@media (max-width: 840px){
  .name {
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
  }
  .before-name {
    margin-bottom: 2%;
  }
}

@media (max-width: 604px) {
  .before-name {
    font-size: 1.5rem;
  }
  .name {
    font-size: 3rem;
  }
  .description-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 414px) {
  .before-name {
    font-size: 1.2rem;
  }
  .description-heading {
    font-size: 1.2rem;
  }
  .name {
    font-size: 2rem;
  }
}

@keyframes changeHeading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
