@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.main-projects-container {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 10%;
    row-gap: 10%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 15rem;
    justify-content: center;
}

.card-container {
    background: rgb(0, 0, 0);
    border: 2px solid rgb(236, 38, 236);
    border-radius: 83px;
    display: flex;
    flex-direction: column; 
    box-shadow: 2px 4px 8px 2px rgb(236, 38, 236);
    transition: 0.3s;   
}

.card-container:hover {
    box-shadow: 3px 8px 16px 3px rgb(236, 38, 236);
}

.content-card-container {
    display: flex;
    padding-right: 7%;
    padding-left: 7%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin: 0;
}

div.content-card-container >* {
    font-weight: 300;
}

.content-card-container h2 {
    font-weight: bold;
}

div.content-card-container >* {
    margin-bottom: 3%;
}

.content-container-flex {
    justify-content: center;
}

.projects-intro{
    display: flex;
    justify-content: flex-start;
    margin-left: 9%;
    color: white;
    margin-top: 2.7rem;
    font-family: 'Merienda', cursive;
    font-size: 2rem;;
}

.card-container img {
    object-fit: contain;
    object-position: top;
    width: 100%;
    border-top-right-radius: 83px;
    border-top-left-radius: 83px;
}

.source-code a{
    text-decoration: underline;
    color: white;
}

.technologies-used {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.technologies-used >* {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

.project-card-title {
    font-family: "aclonica", sans-serif;
}

@media (max-width: 813px) {
    .main-projects-container {
        display: grid;
        grid-template-columns: 75%;
        row-gap: 5%;
        height: 100%;
        margin-top: 2.5rem;
        margin-bottom: 40rem;
        justify-content: center;

    }
}