@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.main-projects-container {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 10%;
    row-gap: 10%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    justify-content: center;
}

.card-container {
    border-radius: 83px;
    display: flex;
    flex-direction: column; 
    transition: 0.3s;   
}

#content-container-1, #content-container-2, #content-container-3{
    background: rgb(32, 25, 74);
    border-radius: 60px;
}

.project-card-title {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px rgb(255, 217, 217) solid;
}

.content-card-container {
    display: flex;
    padding-right: 7%;
    padding-left: 7%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin: 0;
}

div.content-card-container >* {
    font-weight: 300;
}

.content-card-container h2 {
    font-weight: bold;
}

div.content-card-container >* {
    margin-bottom: 3%;
}

.content-container-flex {
    justify-content: center;
}

.projects-intro{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 9%;
    color: white;
    margin-top: 2.7rem;
    font-family: 'Merienda', cursive;
    font-size: 2rem;;
}

.projects-intro h1{
    margin-bottom: 0;
}

.card-container img {
    object-fit: contain;
    object-position: top;
    width: 100%;
    border-top-right-radius: 83px;
    border-top-left-radius: 83px;
}

.source-code a{
    text-decoration: 2px underline;
    color: pink;
}

.mark-highlight {
    background-color: rgba(248, 144, 237, 0.64);
}

.projects-intro-description {
    display: flex;
    justify-content: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 25%;
    color: rgb(250, 173, 243);
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 170%;
}

.projects-intro-description h4{
    font-weight: 400;
}

.content-card-container h4 {
    color: white;
}

.technologies-used {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.technologies-used >* {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

.project-card-title {
    font-family: "aclonica", sans-serif;
}

@media (max-width: 813px) {
    .main-projects-container {
        display: grid;
        grid-template-columns: 75%;
        row-gap: 5%;
        height: 100%;
        margin-top: 2.5rem;
        margin-bottom: 10rem;
        justify-content: center;

    }
}


@media (max-width: 601px) {
    .projects-intro {
        font-size: 1rem;
        align-items: center;
        margin-left: 0;
    }
    .projects-intro-description {
        font-size: 1rem;
        justify-content: center;
        margin-left: 0;
        padding-right: 0;
    }

}